* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("88769.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  height: 100dvh;
  color: #ffffff;
}

.container {
  border: none;
  background: transparent;
  max-width: 80%;
  margin: auto;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  width: 250px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
button::after,
button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-image: conic-gradient(
    from var(--angle),
    transparent -10%,
    red,
    orange,
    yellow,
    green,
    blue,
    red
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 2px;
  animation: 3s spin linear infinite;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
buton::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

#increment-btn {
  background: #4455f1;
}
#increment-btn:hover {
  background: #5a8ff083;
}
#increment-btn:active {
  background: #0657f083;
}
#save-btn {
  background: #378b49;
}
#save-btn:hover {
  background: #4caa6198;
}
#save-btn:active {
  background: #0b992a98;
}

p {
  font-weight: bold;
  color: #0c08f777;
}

@media screen and (max-width: 640px) {
  body {
    height: 100%;
    overflow: hidden;
    color: #ffffff;
    margin-top: 35%;
    box-sizing: border-box;
  }
  p {
    font-weight: bold;
    color: #8ffa04;
    font-size: 1.3em;
  }
  button {
    width: 150px;
    height: 150px;
    padding: 50px 50px;
    border-radius: 50%;
    font-size: 1.3em;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
  }
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  button::after,
  button::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-image: conic-gradient(
      from var(--angle),
      transparent -10%,
      red,
      orange,
      yellow,
      green,
      blue,
      red
    );
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    animation: 3s spin linear infinite;
  }
  @keyframes spin {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
  buton::before {
    filter: blur(1.5rem);
    opacity: 0.5;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 32px;
  }
  #increment-btn {
    font-size: 2em;
  }
  button:active {
    width: 150px;
    height: 150px;
    padding: 50px 50px;
    border-radius: 50%;
  }
}
