* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("88769.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  color: #ffffff;
}

.container {
  background: transparent;
  max-width: 80%;
  margin: auto;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  width: 250px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

#increment-btn {
  background: #3d7cf183;
}
#increment-btn:hover {
  background: #5a8ff083;
}
#increment-btn:active {
  background: #0657f083;
}
#save-btn {
  background: #22b14198;
}
#save-btn:hover {
  background: #4caa6198;
}
#save-btn:active {
  background: #0b992a98;
}

p {
  font-weight: bold;
  color: #0c08f777;
}

@media screen and (max-width: 640px) {
  body {
    height: 100%;
    overflow: hidden;
    color: #ffffff;
    margin-top: 35%;
    box-sizing: border-box;
  }
  p {
    font-weight: bold;
    color: #8ffa04;
    font-size: 1.3em;
  }
  button {
    width: 150px;
    padding: 50px 50px;
    border-radius: 120px;
    font-size: 1.3em;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 32px;
  }
  #increment-btn {
    background: #3d7cf183;
    font-size: 2em;
  }
}
